@charset "UTF-8";
/**
 * login-configurator-admin.css - Stylesheet for the settings page.
 *
 * @package Login Configurator
 * @subpackage templates
 * @author GrandSlambert
 * @copyright 2009-2013
 * @access public
 * @since 1.6
*/

label.login-configurator-post-type {
     width: 125px;
     float: left;
     font-size: 12px;
}
label.login-configurator-hide-word {
     width: 100px;
     float: left;
}

ul#login_configurator_tabs {
     border-bottom:1px solid #A2B6CB;
     font-family:Verdana,Arial;
     font-size:12px;
     font-weight:bold;
     list-style-type:none;
     margin-bottom:12px;
     padding-bottom:28px;
     z-index:1;
}

#login_configurator_tabs li {
     background-color: #EBEBEB;
     border: 1px solid #A2B6CB;
     float: left;
     height: 25px;
     margin: 2px 0px 0px 5px;
}

#login_configurator_tabs li a {
     color: #666;
     display: block;
     float: right;
     padding: 5px;
     text-decoration: none;
}

#login_configurator_tabs li.login-configurator-selected {
     background-color: #A2B6CB;
}

#login_configurator_tabs li.login-configurator-selected a{
     color: #fff;
}

.form-table tr {
     border-bottom: solid 1px #ddd;
     padding: 5px;
}